*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url(https://th.bing.com/th/id/R.bcbb3489c81714702fd3a83e03b60270?rik=P%2bkWgYnztBU3ZQ&riu=http%3a%2f%2f3.bp.blogspot.com%2f-qaa3wPumcns%2fTsnu5lH51VI%2fAAAAAAAAAzg%2fQlDeoQGFNlA%2fs1600%2fBhagavad-Gita-2.jpg&ehk=fPql8a%2bbALql1aJKjoXKQGYwPlCoKbPjJROAJYaoxLM%3d&risl=&pid=ImgRaw&r=0); */
}

#div1{
    width:100%;
    height:50px;
    background-color: aqua;
    /* padding-left: 5%;
    padding-right: 5%;
    border-left: 50px solid black;
    border-right: 50px solid black; */
    
}
.logo-div{
    width:100%;
    height:80px;
    background-color: rgb(6, 1, 36);
    text-align: center;
    line-height: 80px;
    margin-bottom: 1px;
    font-size: 50px;
    /* border: 1px solid rgb(11, 2, 38); */
    border-radius: 5px;
    color: aliceblue;
}
.nav-div{
    width:100%;
    height:45px;
    background-color: rgb(43, 32, 69);
    text-align: center;
    line-height: 50px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(11, 2, 38);
    border-radius: 5px;
}
.box{
    width: 100px;
    height: 44px;
    background-color: rgb(11, 2, 38);
    margin-left: 1px;
    color: aliceblue;
    border-radius: 10px;
    /* border: 1px solid rgb(63, 4, 4); */
    /* line-height: 44px; */
}
.box:hover{
    background-color: black;
    border: 2px solid rebeccapurple;
    cursor: pointer;
}
.box a{
    color:aliceblue;
    text-decoration: none;
}
.box a:hover{
    color: blueviolet;
}
.main{
    width:100%;
    height: 550px;
    background-color: aqua;
    margin-bottom: 1px;
    /* display: flex; */
    /* justify-content: center; */
    border: 1px solid rgb(11, 2, 38);
    border-radius: 5px;
    background-image: url(https://th.bing.com/th/id/R.bcbb3489c81714702fd3a83e03b60270?rik=P%2bkWgYnztBU3ZQ&riu=http%3a%2f%2f3.bp.blogspot.com%2f-qaa3wPumcns%2fTsnu5lH51VI%2fAAAAAAAAAzg%2fQlDeoQGFNlA%2fs1600%2fBhagavad-Gita-2.jpg&ehk=fPql8a%2bbALql1aJKjoXKQGYwPlCoKbPjJROAJYaoxLM%3d&risl=&pid=ImgRaw&r=0);
}
.sear{
    height: 45px;
    width:500px;
    margin-top: 20px;
}
.inp{
    width:395px;
    height: 45px;
    border-radius: 25px;
    padding-left: 15px;
    font-size: 15px;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}
.click-search{
    width:100px;
    height: 45px;
    border-radius: 25px;
    border-style: none;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: rgb(7, 6, 36);
    text-align: center;
    line-height: 50px;
    border: 1px solid rgb(11, 2, 38);
    border-radius: 5px;
    color:aliceblue
}

#wrap{
    width: 70%;
    /* background-color: black; */
    margin: auto;  /*center align*/
}
#count{
    background-color: antiquewhite;
    width:60%;
    margin: auto;
    height:auto;
    margin-bottom: 5px;
    /* border: 1px solid rgb(6, 5, 29); */
}
#result{
    /* background-color: antiquewhite; */
    width:80%;
    margin: auto;
    height:auto;
    /* border: 1px solid rgb(6, 5, 29); */
    /* padding-left: 10px; */
}
#scroll{
    /* background-color: aliceblue; */
    width:80%;
    margin: auto;
    height:460px;
    overflow-y: auto;
}
.center{
    /* background-color: antiquewhite; */
    width:50%;
    margin: auto;
    height:auto;
    margin-bottom: 10px;
    margin-top: 40px;
    /* border: 1px solid rgb(6, 5, 29); */
    /* padding-left: 10px; */
}

.textinp{
    height: 35px;
    width: 400px;
    border-radius: 20px;
    padding-left: 10px;
}
#btn{
    height: 35px;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(8, 3, 28);
    color: aliceblue;

}
#result{
    padding: 5px;
}
#results{
    background-color: aliceblue;
    text-align: center;
    padding:5px;
    font-weight: bold;
}
#h4{
    width: 600px;
    height: auto;
    background-color: rgb(225, 245, 245);
    margin-bottom: 8px;
    color: rgb(12, 4, 30);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid red;
}
#h5{
    height: auto;
    background-color: aqua;
    line-height: 30px;
}
#count{
    background-color: aqua;
    height: 30px;
}